<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education System Organization</title>
</head>
<body>
    <h1><b><i>....There's nothing here to see!!!</i></b></h1>
    <h1><b><b>EXCEPT:</b></b></h1>
    <h3>API PAGES</h3>
    <ul>
        <li><a style="font-size: large;" href="{% url 'education_organization_view' %}">education organization </a></li>
        <li><a style="font-size: large;" href="{% url 'student_view' %}">student </a></li>
        <li><a style="font-size: large;" href="{% url 'teacher_view' %}">teacher </a></li>
        <li><a style="font-size: large;" href="{% url 'master_view' %}">master </a></li>
        <li><a style="font-size: large;" href="{% url 'class_room_view' %}">class room </a></li>
        <li><a style="font-size: large;" href="{% url 'high_student_view' %}">high student </a></li>
        <li><a style="font-size: large;" href="{% url 'college_student_view' %}">college student </a></li>
        <li><a style="font-size: large;" href="{% url 'elementary_view' %}">elementary </a></li>
        <li><a style="font-size: large;" href="{% url 'first_high_view' %}">first high </a></li>
        <li><a style="font-size: large;" href="{% url 'second_high_view' %}">second high </a></li>
        <li><a style="font-size: large;" href="{% url 'college_view' %}">college </a></li>
        <li><a style="font-size: large;" href="{% url 'shop_view' %}">shop </a></li>
        <li><a style="font-size: large;" href="{% url 'snack_view' %}">snack </a></li>
        <li><a style="font-size: large;" href="{% url 'vending_machine_view' %}">vending machine </a></li>
    </ul>
    
</body>
</html>














