<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education System Organization</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <h1><b><i>....There's nothing here to see!!!</i></b></h1>
    <h1><b><b>EXCEPT:</b></b></h1>
    <br><br>
    <h3>BETTER API PAGES</h3>
    
    <a class="btn btn-primary" href="{% url 'schema-swagger-ui' %}" role="button">Click here!</a>

    <br><br><br>
    <h3>API PAGES</h3>
    <ul>
        <li><a style="font-size: large;" href="{% url 'education_organization_view' %}">education organization </a></li>
        <li><a style="font-size: large;" href="{% url 'student_view' %}">student </a></li>
        <li><a style="font-size: large;" href="{% url 'teacher_view' %}">teacher </a></li>
        <li><a style="font-size: large;" href="{% url 'master_view' %}">master </a></li>
        <li><a style="font-size: large;" href="{% url 'class_room_view' %}">class room </a></li>
        <li><a style="font-size: large;" href="{% url 'high_student_view' %}">high student </a></li>
        <li><a style="font-size: large;" href="{% url 'college_student_view' %}">college student </a></li>
        <li><a style="font-size: large;" href="{% url 'elementary_view' %}">elementary </a></li>
        <li><a style="font-size: large;" href="{% url 'first_high_view' %}">first high </a></li>
        <li><a style="font-size: large;" href="{% url 'second_high_view' %}">second high </a></li>
        <li><a style="font-size: large;" href="{% url 'college_view' %}">college </a></li>
        <li><a style="font-size: large;" href="{% url 'shop_view' %}">shop </a></li>
        <li><a style="font-size: large;" href="{% url 'snack_view' %}">snack </a></li>
        <li><a style="font-size: large;" href="{% url 'vending_machine_view' %}">vending machine </a></li>
    </ul>
    

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>














